page-estabelecimentos {

    .container{
        // background-color: aqua;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar-button-menutoggle-md {
        margin: 0 0px;
        // min-width: 44px;
    }

    .toolbar-md {
        padding: 0px;
        min-height: 0px;
    }

    .toolbar-title-md {
        padding: 0px;
        font-size: 1.6rem;       
    }

    .buttons{
        padding: 20px;

    }

    .item-md{
        padding-left: 0px;                      
    }

    .p{
        font-size: 10px;        
    }

    .title-list{
        font-size: 12px;
        margin-top: 10px; 
    }

    ion-label{
        // background-color: red;
        height: 50px;
        padding-top: 4px;        
    }

    .button{
        margin-left: 0px;
        padding: 10px;
        border-radius: 4px;
        font-size: 1rem;
    }
    
    .content-container{
        padding: 20px;
        padding-top: 5px;
    }
    
    img{        
        align-self: center;
        margin: 0px 0px 0px 0px;
        display: block;
        padding: 1px;
    }    

    .item-md {
        padding-left: 0px;
    }

    ion-label {
        white-space: normal !important;
    }

    .iconYellow{
        color: #f4e424;
    }

    .iconGrey{
        color: #bdbdbd;
    }

    .item-md {
        font-size: 1.2rem;
    }

    .item-lg {
        font-size: 1.2rem;
    }

    .item-md ion-thumbnail img {
        width: 50px;
        height: 50px;
    }

    .item-md ion-thumbnail[item-start] {
        margin: 0px 0px 0px 0px;
    }   

    .item-md ion-thumbnail {
        margin: 0px 0px 0px 0px;
        min-width: 55px;
        min-height: 55px;
    }
}
