<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estabelecimentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showAvaliacoes(item.id)" icon-start>
      <ion-thumbnail item-start>
        <img src="assets/imgs/hospital.png">
      </ion-thumbnail>
      <h2>{{item.nome}}</h2>
      <p>{{item.endereco.cidade.nome}} • {{item.endereco.cidade.estado.nome}}</p>
      <a>{{item.score}}</a>
      <span *ngIf="item.score >= 1">
        <ion-icon class="iconYellow" name="star"></ion-icon>
      </span>
      <span *ngIf="item.score >= 2">
        <ion-icon class="iconYellow" name="star"></ion-icon>
      </span>
      <span *ngIf="item.score >= 3">
        <ion-icon class="iconYellow" name="star"></ion-icon>
      </span>
      <span *ngIf="item.score >= 4">
        <ion-icon class="iconYellow" name="star"></ion-icon>
      </span>
      <span *ngIf="item.score >= 5">
        <ion-icon class="iconYellow" name="star"></ion-icon>
      </span>
      <span *ngIf="1 > item.score">
        <ion-icon class="iconGrey" name="star-outline"></ion-icon>
      </span>
      <span *ngIf="2 > item.score">
        <ion-icon class="iconGrey" name="star-outline"></ion-icon>
      </span>
      <span *ngIf="3 > item.score">
        <ion-icon class="iconGrey" name="star-outline"></ion-icon>
      </span>
      <span *ngIf="4 > item.score">
        <ion-icon class="iconGrey" name="star-outline"></ion-icon>
      </span>
      <span *ngIf="5 > item.score">
        <ion-icon class="iconGrey" name="star-outline"></ion-icon>
      </span>
      <a>({{item.count}})</a>
    </button>
  </ion-list>
</ion-content>




  <!-- <span *ngIf=" item.score >= 3">
    <ion-icon class="iconYellow" name="star-half"></ion-icon>
  </span> -->