page-avaliacoes {

    ion-label {
        white-space: normal !important;
     }
    .iconYellow{
        color: #f4e424;
    }
    .iconGrey{
        color: #bdbdbd;
    }
    .divComentar{
        text-align: center;
    }
    
}
