<ion-header #head [hidden] *ngIf="status">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div [hidden] *ngIf="statusLoginButton">
    <button ion-button block outline (click)="pageEstabelecimento()">Ver lista de estabelecimentos</button>
    <button ion-button block (click)="signinpage()">Entrar</button>
    <button ion-button block outline (click)="signup()">Registrar</button>
  </div>  

  <h5 (click)="signup()">Últimas avaliações</h5>  

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showAvaliacoes(item.estabelecimentoId)">
      <h2>{{item.nomeEstabelecimento}}</h2>
      <p>avaliado por {{item.apelido}} em {{item.dataCriacao}} </p>
      <p>Classificação: {{item.classificacao}}</p>      
      <p>Comentário:</p>
        <ion-card>
          <ion-card-content>
            <p>
              {{item.descricao}}
            </p>
          </ion-card-content>
        </ion-card>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>  

</ion-content>