page-home {
    .title-bar{             
        justify-content: space-between;
        align-items: center;
        display: flex;        
    }
   
    .container{             
        justify-content: space-between;  
    }

    .bar-button-menutoggle-md {
        margin: 0 0px;
        // min-width: 44px;
    }

    .toolbar-md {
        padding: 0px;
        min-height: 0px;
    }

    .toolbar-title-md {
        padding: 0px;
        font-size: 1.6rem;       
    }

    .buttons{
        padding: 0px 5px 0px 0px;
    }

    .label-md {
        margin: 10px 50px 10px 50px;
    }

    ion-label{
        // background-color: red;
        height: auto;
        padding-top: 4px;        
    }

    .p{
        font-size: 10px;        
    }

    .title-list{
        font-size: 12px;
        margin-top: 0px; 
    }

    .button{
        margin-left: 0px;
        padding: 10px;
        border-radius: 4px;
        font-size: 1rem;
    }

    .item-md {
        padding-left: 0px;
        font-size: 12px;        
    }

    .p{
        font-size: 10px;
    }

    ion-label {
        white-space: normal !important;
     }

    h3 {
        text-align: center;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .iconYellow{
        color: #f4e424;
    }
}
