page-home {

    .container{
        // background-color: aqua;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar-button-menutoggle-md {
        margin: 0 0px;
        // min-width: 44px;
    }

    .toolbar-md {
        padding: 0px;
        min-height: 0px;
    }

    .toolbar-title-md {
        padding: 0px;
        font-size: 1.6rem;       
    }

    .buttons{
        padding: 20px;

    }

    .button{
        margin-left: 0px;
        padding: 10px;
        border-radius: 4px;
        font-size: 1rem;
    }

    .content-container{
        padding: 20px;
        padding-top: 5px;
    }

    ion-label {
        white-space: normal !important;
     }

    h3 {
        text-align: center;
    }

    img{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .iconYellow{
        color: #f4e424;
    }
}
