page-avaliar {
    .title{
        margin: 15px;
    }
    .recaptcha{
        width: auto;
        height: auto;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}
