<ion-split-pane>
  <ion-menu side="left" [content]="content" type="overlay">

    <ion-header>
      <ion-toolbar>
        <ion-title>SensorSus</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div class="menu-list">
        <div>
        <ion-list  no-lines>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>
  
          <ion-list [hidden] *ngIf="status">
            <button menuClose ion-item *ngFor="let p of pagesLogged" (click)="openPageLogged(p)">
              {{p.title}}
            </button>
          </ion-list>
  
          <ion-list [hidden] *ngIf="!status">
            <button menuClose ion-item *ngFor="let p of pagesLoggedout" (click)="openPageLoggedOut(p)">
              {{p.title}}
            </button>
          </ion-list>
        </ion-list>
      </div>
      <div class="div-github">
        <ion-list>         
            <div class="pdsw-content">
              <a href="https://github.com/leandromelolm">
                <div class="pdsw-contact-container">
                  <ion-icon name="logo-github"></ion-icon>
                  <p class="pdsw-contact-link">/leandromelolm</p>
                </div>
              </a>
            </div>         
        </ion-list>
      </div>
      </div>
    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>