// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bar-button-menutoggle-md {
    margin: 0 0px;
    min-width: 44px;
}

.toolbar-title-md {
    padding: 10px;
    font-size: 1.6rem;
}

.toolbar-md {
    padding: 0px;
    min-height: 20px;
    height: 44px;
}

.button{
    margin-left: 0px;
    padding: 10px;
    border-radius: 4px;
    font-size: 1rem;
}
 
//tirando barra de rolagem do menu
.scroll-content{
    overflow-y: auto !important;
    // overflow-x: hidden !important;
}
    
