<ion-header>
  <ion-navbar>
    <ion-title>Criar Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">

    <ion-item>
      <ion-label stacked>Nome Completo*</ion-label>
      <ion-input formControlName="nomeCompleto" type="text" placeholder="Nome"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nomeCompleto.dirty && formGroup.controls.nomeCompleto.errors"
      margin-left>
      Nome inválido
    </p>

    <ion-item>
      <ion-label stacked>Apelido*</ion-label>
      <ion-input formControlName="nickname" type="text" placeholder="Nome de usuario"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls['nickname'].dirty && formGroup.controls['nickname'].errors" margin-left>
      Apelido inválido
    </p>

    <ion-item>
      <ion-label stacked>E-mail*</ion-label>
      <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>
      E-mail inválido
    </p>

    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>
      Senha inválido
    </p>

    <ion-item>
      <ion-label stacked>Redigite a senha*</ion-label>
      <ion-input formControlName="senha_confirmar" name="senha_confirmar" type="password" placeholder="Confirmar senha">
      </ion-input>
    </ion-item>

    <button ion-button block (click)="submit" [disabled]="formGroup.invalid">Criar conta</button>

  </form>
</ion-content>